<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Glass of Wine May Help</title>
    <link rel="stylesheet" href="/static/assets/css/mystyles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
        .chart{
            margin-top: 30px;
            text-align: center;
            width: 100%;
            margin:0px;
        }

    </style>
</head>
<body>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-whole">
                    <p class="bd-notification is-primary">
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column has-text-centered is-narrow-desktop is-narrow-touch">
                    <figure class="image is-centered ">
                        <img src="/static/assets/images/quebec.svg"
                             style="width:80%; max-width: 500px; margin-top:-20px">
                        <div class="is-overlay" style="margin-top:40px">
                            <h3 class="is-size-5 has-text-centered is-family-sans-serif" style="margin-top: 10%">
                                DAY <span class="has-text-weight-bold"> 12 </span>OF ISOLATION
                            </h3>
                            <h1 class=" has-text-centered is-size-1 is-family-serif has-text-weight-medium">
                                A Glass of Wine May Help
                            </h1>
                        </div>
                    </figure>

                </div>
            </div>
        </div>
        <hr class="hr" style="height: 4px; background-color:black; margin-left: 10%;  margin-right: 10%; margin-top: 50px">
    </div>

</section>


<div class="container is-centered is-fluid">
    <div class="columns is-centered">

         <div class="subtitle" style="margin-bottom: 50px">
             Well done everybody, yesterday we bought <span class="has-text-weight-bold">{{glasses_sold}} glasses </span> of wine from SAQ online!
    </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-one-fifth">
            <h2 class="subtitle is-size-3"> What is Quebec drinking? </h2>
        </div>
        <div class="column is-one-fifth">
            <p class="is-family-sans-serif">
                We've been looking at the the stock in SAQ, to see how people have
                been following Legault's recommendations.
            </p>
            <br>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column has-text-centered is-family-sans-serif"> Are we guzzling more red, white, or rosé?</div>
    </div>
    <div class="columns is-centered">
        <div class="column has-text-centered is-two-fifths is-family-sans-serif">
            <div class="columns is-centered">
                <div class="column is-narrow" >
                    <div class="columns ">
                        <div style="width:{{red_percentage*0.5}}vw; height:20px; background-color:{{red}}; border-radius: {{radius}}; margin:5px"></div>
                    </div>
                    <div style="width:{{red_percentage*0.5}}vw; height:20px; margin:10px">{{red_percentage}}%</div>
                </div>
                <div class="column is-narrow">
                    <div class="columns">
                        <div style="width:{{white_percentage*0.5}}vw; height:20px; background-color:{{white}}; border-radius: {{radius}}; margin:5px"></div>
                    </div>
                    <div style="width:{{white_percentage*0.5}}vw; height:20px; margin:10px">{{white_percentage}}%</div>
                </div>
                <div class="column is-narrow">
                    <div class="columns">
                        <div style="width:{{rose_percentage*0.5}}vw; height:20px; background-color:{{rose}}; border-radius: {{radius}}; margin:5px"></div>
                    </div>
                        <div style="width:{{rose_percentage*0.5}}vw; height:20px; margin:10px">{{rose_percentage}}%</div>
                    </div>
                </div>

            </div>
            <div>
                <div>
                </div>
            </div>
        </div>
    </div>

    <section class="container is-fluid">
        <div class="columns is-centered">
            <div class="column has-text-centered subtitle is-one-quarter is-size-3"
                 style="margin-top:30px; color: black">
                Well! Here are the trending bottles in Quebec
            </div>
        </div>
        <div class="columns" style="padding-top: 50px">
            {% for wine in top_wines %}
            <div class="column has-text-centered">
                <figure><img src={{wine.img}}></figure>
                <h1 class="is-family-sans-serif is-size-9 has-text-weight-bold" style="min-height: 5em">
                    {{wine.name}}</h1>
                <h1 class="is-family-sans-serif" style="color: gray">{{wine.sales}} bottles today</h1>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container" style="padding-top: 50px">
        <div><h1 class="has-text-centered subtitle is-size-3">We might be isolated, but we're drinking wines from
            all
            over!</h1>
            <div id="wine_map" class="chart">
            </div>
        </div>
    </section>

<hr class="hr" style="height: 4px; background-color:black; margin-left: 10%;  margin-right: 10%; margin-top: 50px">

<div class="container" style="padding-top: 50px">
    <div class="columns is-centered">
        <div class="column is-two-thirds is-narrow">
            <h1 class="subtitle is-size-3"> Since we started drinking our wine</h1>
            <div id="case_graph"></div>
        </div>
        </div>
</div>
<div class="container" style="padding-top: 50px">
    <div class="columns is-centered">
        <div class="column is-two-thirds is-narrow">
            <h1 class="subtitle is-size-3"> Here's how we're doing relative to everyone else</h1>
            <div id="confirmed_graph"></div>
        </div>
        </div>
</div>
<div class="container" style="padding-top: 50px">
    <div class="columns is-centered">
        <div class="column is-two-thirds is-narrow">
            <div id="deaths_graph"></div>
        </div>
        </div>
</div>
    <section style="padding-top: 50px">
        <!--    <footer class="footer" style="bottom: 0; width: 100%; padding-bottom: 20px; ">-->
        <div class='has-text-centered'>
            <figure class='image'>
                <a href="https://github.com/archydeberker/a-glass-of-wine"><img
                        src='/static/assets/images/GitHub-Mark-32px.png'
                        style="margin: 0 auto; width: auto; margin-bottom: 10px"></a>
            </figure>
        </div>
        <div class="content has-text-centered">
            <strong>A Glass of Wine May Help </strong> is made by
            <a href=""> Archy de Berker </a> and <a href=""> Claudel Rheault</a> with help from
            <a href=""> Stephanie Willis</a>.
            <p> Let us know if you'd like to have a (virtual) drink! </p>
            <p class="is-size-9"> COVID-19 data refreshed daily from <a href={{data_citation}}> COVID-19 Canada Open Data Working Group </a></p>
        </div>
    </section>
</body>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var case_graphs = {{case_graphJSON | safe}};
        var confirmed_graph = {{confirmed_graphJSON | safe}};
        var deaths_graph = {{deaths_graphJSON | safe}};

        Plotly.plot('wine_map',graphs,{});
        Plotly.plot('case_graph', case_graphs,{});
        Plotly.plot('confirmed_graph', confirmed_graph,{});
        Plotly.plot('deaths_graph', deaths_graph,{});

</script>

</html>