<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Glass of Wine May Help</title>
    <link rel="stylesheet" href="/static/assets/css/mystyles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-whole">
                    <p class="bd-notification is-primary">
                    <h3 class="h4 has-text-centered is-family-sans-serif">
                        DAY <span class="has-text-weight-bold"> 12 </span>OF ISOLATION
                    </h3>
                </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-one-quarter">
                        <h1 class="title has-text-centered is-size-1 is-family-serif has-text-weight-light">
                            A Glass of Wine May Help
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="container">
    <div class="columns is-8 is-variable">
        <div class="column">
            <h2 class="subtitle is-size-3"> But what are we drinking? </h2>
            <p> We've been looking at the the stock in SAQ, to see what
            people across Quebec have been drinking to keep their spirits up</p>
        </div>
        <div class="column">
            <figure class="image is-centered is-square">
            <img src="/static/assets/images/quebec.svg" style="width:80%"}>
                </figure>
        </div>
    </div>
</div>


<section style="padding-top: 50px">
<!--    <footer class="footer" style="bottom: 0; width: 100%; padding-bottom: 20px; ">-->
        <div class='has-text-centered'>
            <figure class='image'>
                <a href="https://github.com/archydeberker/a-glass-of-wine"><img
                        src='/static/assets/images/GitHub-Mark-32px.png'
                        style="margin: 0 auto; width: auto; margin-bottom: 10px"></a>
            </figure>
        </div>
        <div class="content has-text-centered">
                <strong>A Glass of Wine May Help </strong> is made by
                <a href=""> Archy de Berker </a> and <a href=""> Claudel Rheault </a>.

            <p>  Let us know if you'd like to have a (virtual) drink! </p>
        </div>
<!--    </footer>-->
</section>
</body>
</html>