<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Route Carbon Calculator</title>
    <link rel="stylesheet" href="/static/assets/css/mystyles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-centered">
                <div class="column is-half">
                    <figure class="image is-centered"
                            style="width:300px; margin: auto 0; display: None">
                        <img src="/static/assets/logo_transparent.png">

                    </figure>
                </div>

            </div>
            <div class="columns is-centered">
                <div class="column is-one-quarter">
                    <p class="bd-notification is-primary">
                    <h1 class="title">
                        Hello world
                    </h1>
                    </p>
                    <p class="subtitle">
                        Have a nice glass of wine
                    </p>
                </div>

                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-three-quarters">
                            <h1 class="subtitle"> Can I get involved?</h1>
                            <p> Yes please! <a
                                    href="https://github.com/archydeberker/trip-carbon-calculator">The
                                code is on Github, please say hello.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <footer class="footer" style="bottom: 0; width: 100%; padding-bottom: 20px; ">
        <div class='has-text-centered'>
            <figure class='image'>
                <a href="https://github.com/archydeberker/trip-carbon-calculator"><img
                        src='/static/assets/GitHub-Mark-32px.png'
                        style="margin: 0 auto; width: auto; margin-bottom: 10px"></a>
            </figure>
        </div>
        <div class="content has-text-centered">
            <p>
                <strong> Route Carbon Calculator </strong> is made by
                <a href=""> Archy de Berker </a> with inspiration from
                <strong> David de Berker </strong>
            </p>
        </div>
    </footer>
</section>
</body>
</html>