@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Gotu:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$link: rgba(127, 0, 0);

// Update Bulma's global variables
$family-serif: "Times New Roman";
$family-sans-serif: "Arial";
$family-primary: $family-serif;

$size-1: 3rem;

@import "../bulma-0.8/bulma.sass";
